* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header styles */
.header {
  width: 100%;
  height: 10rem;
  background-image: url("../public/assets/design/desktop-design.jpg");
  background-color: var(--primary-color);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(2vw + 0.4rem);
}

.header-container ul {
  width: 70vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  margin: 1.3rem 0;
  position: relative;
  box-shadow: 0px 4px 6px 4px rgba(91, 164, 164, 0.2);
  margin-bottom: -2rem;
  position: relative;
}

.header-btn {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  margin: 0 0.5rem;
  font-weight: 500;
  font-size: 14px;
}

.header-input-text {
  padding: 10px;
  margin-right: 10px;
  width: 350px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #b9b0b0;
}

.header-input-text:focus {
  border: none;
  border: 1px solid rgb(21, 179, 219);
}

.select-dropdown {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 18px;
}

li:not(:last-child) {
  margin-right: 1rem;
}

.close {
  background-color: hsl(180, 29%, 50%);
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: all 0.2s;
  padding: 5px;
}
.close img {
  padding: 0.5rem;
}

.close:hover {
  background-color: hsl(180, 3%, 49%);
}

a {
  color: hsl(180, 14%, 20%);
  position: absolute;
  right: 1.5rem;
  text-decoration: none;
}

a:hover {
  color: hsl(180, 29%, 50%);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .header-container ul {
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  li {
    margin-bottom: 0.5rem;
  }
}

/* Job component styling */
.job-container {
  width: 70vw;
  position: relative;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  margin: 1.3rem 0;
  box-shadow: 0px 4px 6px 4px rgba(91, 164, 164, 0.2);
}

.job-container .logo {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}

.part1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.company .cname {
  font-weight: 700;
  color: hsl(180, 29%, 50%);
  margin-right: 0.8rem;
}

.company .new,
.featured {
  color: #fff;
  background-color: hsl(180, 29%, 50%);
  border-radius: 1rem;
  padding: 0.4rem;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.featured {
  background-color: hsl(180, 14%, 20%);
}

.position {
  font-weight: 700;
  font-size: 1.1rem;
  display: inline;
  padding: 0.7rem 0;
  cursor: pointer;
}

.position-style {
  display: flex;
  width: 50px;
}

.experience {
  margin-bottom: 1rem;
}

.position:hover {
  color: hsl(180, 29%, 50%);
}

.details {
  color: hsl(180, 8%, 52%);
}

.part2 {
  height: 120px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.part2span:not(:last-child) {
  margin-right: 1rem;
}

.apply_link {
  color: hsl(180, 52%, 96%);
  background-color: hsl(180, 29%, 50%);
  padding: 0.5rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.apply_link:hover {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
}

.part2span {
  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
  padding: 0.5rem;
  cursor: pointer;
}

.skills-container {
  overflow-y: hidden;
  overflow-x: scroll;
  height: 70px;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.part2span:hover {
  background-color: hsl(180, 29%, 50%);
  color: #fff;
}

.borderLeft {
  border-left: 5px solid hsl(180, 29%, 50%);
}

@media screen and (max-width: 768px) {
  .job-container {
    flex-direction: column;
    align-items: flex-start;
    width: 72vw;
    flex-grow: 1;
  }

  .logo {
    top: 2rem;
  }
  .logo img {
    width: 2rem;
    height: auto;
  }

  .part1 {
    flex-grow: 0;
    padding: 2rem 0;
  }

  .mobile-height {
    height: 150px;
  }

  .part2 {
    border-top: 1px solid hsl(180, 8%, 52%);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }

  .part2span .apply_link {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
  }
}

/* Jobs Component styles */
.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(2vw + 2rem);
}

/* pagination component */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
}

.pagination {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 2rem;
  background-color: white;
  border: 1px solid #4b5563;
  height: 2rem;
  font-size: 0.875rem;
}

.page-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem;
  height: 2rem;
  line-height: 2rem;
  color: #6b7280;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.page-input input {
  margin-right: 10px;
}

.page-item p {
  margin: 2px;
}

.page-item:hover {
  background-color: #f3f4f6;
  color: #374151;
}

.page-item.dark {
  background-color: #1f2937;
  color: #9ca3af;
}

.page-item.dark:hover {
  background-color: #374151;
  color: white;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.page-input {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.page-number {
  width: 2rem;
  text-align: center;
  background-color: white;
  border: 1px solid #4b5563;
  padding-left: 0.5rem;
}

/* details page */
.job-detail-layout {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 10px; /* Optional: Adds space between columns */
  max-width: 1400px;
  margin: 20px auto;
}

.employer-details {
  display: flex;
  flex-direction: row;
  max-width: 1410px;
  width: 100%;
  margin: 10px 60px;
}

.employer-role-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 2rem;
  width: 1150px;
}

.breadcrumb {
  width: 60px;
  margin: 10px 60px;
}

.employer-links {
  display: inline;
  padding-top: 20px;
}

.employer-links a {
  margin-right: 100px;
}

.employer-role-details div {
  margin-top: 10px;
}

.employer-logo {
  width: 100px;
  height: 100px;
}

.border-provider {
  border-radius: 5px;
  border: 1px solid #b9b0b0;
  padding: 1rem;
}
.job-detail-description div {
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
  margin-bottom: 10px;
}

.job-detail-description p {
  font-weight: 300;
}

.job-details-points {
}
